<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/StylesLogIn.css">
</head>

<body>

    <div class="container-gen">

        <div class="container-is">
            <section class="titulo1">
                <h1>INICIAR SESIÓN</h1>
            </section>

            <section class="correo1">
                <h2>CORREO ELECTRÓNICO</h2>
                <input type="correo" placeholder="Correo Electrónico" class="textbox">
            </section>

            <section class="password1">
                <h2>CONTRASEÑA</h2>
                <input type="contraseña" placeholder="Contrseña" class="textbox">
                <a href="#" class="back">¿Olvidaste tu contraseña?</a>
            </section>

            <section class="ingresar">
                <button class="button1" type="button">INGRESAR</button>
                <a href="#" class="back">> Regresar a la tienda</a>
            </section>

        </div>


        <div class="vertical-line"><img src="~img/linea.jpeg" alt="linea" width="13"></div>


        <div class="container-cc">
            <section class="titulo2">
                <h1>CREAR UNA CUENTA</h1>
            </section>

            <section class="names"></section>
            <h2>NOMBRES</h2>
            <input type="correo" placeholder="Nombres" class="textbox">
            </section>

            <section class="lastname"></section>
            <h2>APELLIDOS</h2>
            <input type="correo" placeholder="Apellidos" class="textbox">
            </section>

            <section class="correo2"></section>
            <h2>CORREO ELECTRÓNICO</h2>
            <input type="correo" placeholder="Correo Electrónico" class="textbox">
            </section>

            <section class="password2"></section>
            <h2>CONTRASEÑA</h2>
            <input type="contraseña" placeholder="Contraseña" class="textbox">
            <ul>
                <li>La contraseña debe tener un minimo de 8 carácteres</li>
                <li>La contraseña debe contener un numero</li>
                <li>La contraseña debe contener letras mayúsculas y mínusculas</li>
            </ul>
            </section>

            <section class="registrarse"></section>
            <button class="button1" type="button">REGISTRARSE</button>
            </section>
        </div>
    </div>
</body>

</html>